@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #F3F4F4;
}

/* header section code start here */
.header-container {
    background: #2b3c49;
    padding: 10px 0;
    position: fixed;
    width: 100%;

}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 250px;
}

.header-logo a {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

li a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    margin: 20px 30px;
}

li a:hover {
    color: #7AAACE;
    transition: all .3s;
}

/* home section code start here */

.home-container {
    width: 100%;
    height: 95vh;
    background-image: url('image/img8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.home-content {
    text-align: center;
}

.home-title h1 {
    padding-top: 300px;
    font-size: 65px;
    font-weight: bold;
    color: #fff;
}

.home-title p {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin: 55px 0;
}


.home-content a {
    font-size: 20px;
    font-weight: 400;
    padding: 15px 30px;
    margin-top: 30px;
    color: #000;
    background: #fff;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #f5f3f3;
}

.home-content a:hover {
    background: rgba(128, 128, 128, 0.199);
    color: #fff;
    border: 2px solid #fff;
}


/* services section code start here */

.services-title {
    padding-top: 65px;
    text-align: center;
}

.services-title h2 {
    margin: 15px 0;
    font-size: 35px;
    font-weight: 700;
    color: #000;
}

.services-title p {
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.services-content {
    /* margin-top: 50px; */
    margin: 50px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.services-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding-bottom: 50px;
    text-align: center;
}

.services-item img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.services-item {
    padding: 40px 50px;
    margin: 15px 20px;
    background: #fff;
}

.services-item h3 {
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
}

.services-item p {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    margin: 10px 0;
}


/* portfolio section code start here */

.portfolio-title {
    padding-top: 25px;
    text-align: center;
}

.portfolio-title h2 {
    margin: 15px 0;
    font-size: 35px;
    font-weight: 700;
    color: #000;
}

.portfolio-title p {
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.portfolio-content {
    /* margin-top: 50px; */
    margin: 50px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.portfolio-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding-bottom: 5px;
    text-align: center;
}

.portfolio-item img {
    width: 100%;
    height: 35vh;
    border-radius: 15px;
}

.portfolio-item {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 15px 10px;
    background: #fff;
    border-radius: 15px;
}

.portfolio-item h3 {
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
}

.portfolio-item p {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin: 10px 0;
    text-align: center;
}


/* team section code start here */


.team-container{
    padding: 0 10px;
    margin: 0 50px;
}

.team-title {
    padding-top: 25px;
    text-align: center;
}

.team-title h2 {
    margin: 15px 0;
    font-size: 35px;
    font-weight: 700;
    color: #000;
}

.team-content {
    margin: 40px 250px;
    background: #929292;
}

.team-items {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.team-item {
    display: flex;
    justify-content: space-around;
    text-align: center;
    /* padding: 5px 5px; */
    margin: 10px 10px;
    background: #fff;
    border-radius: 35px;
    border: 1.8px solid black;
}

.team-item img {
    width: 20%;
    height: 5vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid red;
    border-radius: 40vh;
}

.team-item p {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
}


/* about section code start here */

.about-title {
    padding-top: 25px;
    text-align: center;
}

.about-title h2 {
    margin: 15px 0;
    font-size: 35px;
    font-weight: 700;
    color: #000;
}

.about-title p {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 50px;
}

.about-content {
    margin: 30px 250px;
}

.about-items {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.about-item {
    padding: 20px 35px;
    margin: 20px 15px;
    background: #fff;
    border-radius: 10px;
}

.about-item h3 {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
}

.about-item p {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
    align-items: justify;
}


/* footer section code start here */
 .contact-title {
    padding-top: 25px;
    text-align: center;
}

.contact-title h2 {
    margin: 15px 0;
    font-size: 35px;
    font-weight: 700;
    color: #000;
}

.contact-title p {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 50px;
}

.contact-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px;
}

.contact-items i{
    padding: 8px;
    margin-right: 15px;
    color: gray;
}

.footer-form{
    margin-top: 50px;
}

.footer-form .footer-input input{
    padding-right: 150px;
    height: 35px;
}
.footer-form .footer-input textarea{
    padding-right: 150px;
}

.fotter-btn{
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0;
    padding: 15px 10px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.fotter-btn:hover{
    background: #929292;
    transition: all .3s;
}

.footer-detail{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
    background: #2b3c49;
}

.footer-detail p{
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
