@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #F3F4F4;
}

/* header section code start here */
.header-container{
    background: #2b3c49;
    padding: 10px 0;
    position: fixed;
    width: 100%;

}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 250px;
}

.header-logo a{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

li a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    margin: 20px 30px;
}

li a:hover{
    color: #7AAACE;
    transition: all .3s;
}

/* home section code start here */

.home-container{
    width: 100%;
    height: 95vh;
    background-image: url('image/img8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.home-content{
    text-align: center;
}

.home-title h1{
    padding-top: 300px;
    font-size: 65px;
    font-weight: bold;
    color: #fff;
}

.home-title p{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin: 55px 0;
}


.home-content a{
    font-size: 20px;
    font-weight: 400;
    padding: 15px 30px;
    margin-top: 30px;
    color: #000;
    background: #fff;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #f5f3f3;
}

.home-content a:hover{
    background: rgba(128, 128, 128, 0.199);
    color: #fff;
    border: 2px solid #fff;
}


/* services section code start here */

.services-title{
    padding-top: 65px;
    text-align: center;
}

.services-title h2{
    margin: 15px 0;
    font-size: 35px;
    font-weight: 700;
    color: #000;
}

.services-title p{
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.services-content{
    /* margin-top: 50px; */
    margin: 50px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.services-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding-bottom: 50px;
    text-align: center;
}

.services-item img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.services-item{
    padding: 40px 50px;
    margin: 15px 20px;
    background: #fff;
}

.services-item h3{
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
}

.services-item p{
    font-size: 20px;
    font-weight: 400;
    color: #000;
    margin: 10px 0;
}


/* portfolio section code start here */

.portfolio-title{
    padding-top: 25px;
    text-align: center;
}

.portfolio-title h2{
    margin: 15px 0;
    font-size: 35px;
    font-weight: 700;
    color: #000;
}

.portfolio-title p{
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.portfolio-content{
    /* margin-top: 50px; */
    margin: 50px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.portfolio-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding-bottom: 5px;
    text-align: center;
}

.portfolio-item img{
    width: 100%;
    height: 35vh;
    border-radius: 15px;
}

.portfolio-item{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 15px 10px;
    background: #fff;
    border-radius: 15px;
}

.portfolio-item h3{
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
}

.portfolio-item p{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin: 10px 0;
    text-align: center;
}


/* about section code start here */

.about-title{
    padding-top: 25px;
    text-align: center;
}

.about-title h2{
    margin: 15px 0;
    font-size: 35px;
    font-weight: 700;
    color: #000;
}

.about-title p{
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.about-content{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.about-item h3{
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
}
.about-item p{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin: 10px 300px;
    text-align: center;
}